.landingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1440px;
  min-width: 1180px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.box {
  position: relative;
  width: 1440px;
  height: 800px;
}


.box h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 55px;
}

.box p {
  font-size: 21px;
  line-height: 37px;
  margin-top: 27px;
}

.box.center {
  text-align: center;
}

.box.center p {
  margin-top: 27px;
}

.box.center section {
  width: 100%;
}

.box section {
  position: absolute;
  top: 176px;
}

.box.left section {
  left: 160px;
}

.box.right section {
  right: 30px;
}

.box section figure {
  margin-top: 56px;
  width: 30px;
  height: 4px;
  background: #50E3C2;
}

.box.left section figure {
  margin-top: 56px;
}

.box.right section figure {
  margin-top: 56px;
}

.mockup {
  background-size: cover;
  position: absolute;
}

#mockup1 {
  top: 217px;
  right: 160px;
  width: 530px;
  height: 567px;
  background-image: url(../images/landing/retina/about-artboard@2x.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  top: 192px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/landing/retina/about@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 192px;
  left: 333px;
  width: 140px;
  height: 395px;
  background-image: url(../images/landing/retina/works@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup4 {
  top: 192px;
  left: 506px;
  width: 140px;
  height: 474px;
  background-image: url(../images/landing/retina/work@2x.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup5 {
  top: 406px;
  right: 40px;
  width: 761px;
  height: 404px;
  background-image: url(../images/landing/retina/screens@2x.png);
}


@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1179px) {

}
